.feedback-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* .feedback-title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--MAIN-PURPLE);
}

.feedback {
  padding: 15px;
  border-radius: 0.5rem;
  background-color: var(--MAIN-ORANGE);
  margin-bottom: 20px;
  cursor: pointer;
  transition: filter 0.3s;
}

.feedback:hover {
  filter: brightness(0.9);
}

.feedback h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--MAIN-PURPLE);
}

.feedback p {
  margin: 0;
  color: var(--WHITE);
} */

.feedback-container .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.feedback-container h2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--MAIN-PURPLE);
}

.feedback-container .testimonial {
  background-color: var(--MAIN-ORANGE);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.feedback-container .testimonial p {
  margin-bottom: 1rem;
  font-style: italic;
  font-weight: 500;
  color: var(--WHITE);
}

.feedback-container .testimonial .name {
  font-weight: bold;
  color: var(--MAIN-PURPLE);
  font-weight: 800;
}
