.hero-section {
  height: 28rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  margin: 3rem 6rem;
}

.hero-text {
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-title {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--MAIN-PURPLE);
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-size: 1.125rem;
  color: var(--BLACK);
}

.hero-button {
  padding: 1rem 2rem;
  width: 200px;
}

.hero-image-container {
  height: 100%;
  display: flex;
}

.hero-image {
  object-fit: contain;
}

.opacidade {
  opacity: 0.4;
}
