.main-section {
    height: 18rem;
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 3rem;
    margin-top: 4rem;
    background-color: var(--MAIN-ORANGE);
}

.main-image-container {
    height: 100%;
    width: 50%; 
    display: flex; 
    justify-content: center; 
}

.main-image-wrapper {
    height: 100%; 
    display: flex; 
    align-items: center;
    padding: 1rem 0; 
}

.main-image {
    height: 100%;
    object-fit: contain;
    border-radius: 1.5rem;
    border-width: 0.5rem; 
    border-style: solid; 
}

.main-text {
    text-align: left;
    width: 50%; 
}

.main-title {
    color: var(--MAIN-PURPLE);
    font-weight: bold;
    font-size: 1.875rem;
}

@media (min-width: 768px) {
    .main-title {
        font-size: 2.25rem; 
    }
}

.main-subtitle {
    margin-top: 2rem; 
    color: #ffffff; 
    font-weight: bold; 
}

.main-description {
    margin-top: 2rem; 
    color: #ffffff;
    font-weight: 600;
}

.main-stats {
    display: flex;
    gap: 2rem; 
    margin-top: 2rem; 
}

.main-stat {
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
}

.main-stat-number {
    font-size: 1.125rem; 
    font-weight: 600;
    color: var(--MAIN-PURPLE);
}

.main-stat-text {
    color: #ffffff; 
}
