@import url("./global.css");

.header {
  background-color: var(--MAIN-ORANGE);
}

.header-section {
  margin: 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 9rem;
  padding: 0.75rem;
  object-fit: contain;
}

.header-nav {
  display: flex;
  color: var(--MAIN-PURPLE);
  gap: 1.75rem;
}

.header-nav a {
  margin-left: 1.75rem;
  transition: all 0.3s ease-in-out;
  font-size: 1.125rem;
}

.header-nav a:hover {
  color: var(--LIGHT-PURPLE);
}
