:root {
  /*fontes */

  --MAIN_FONT: "BW MODELICA SS01";
  --SENCOND_FONT: "Roboto", sans-serif;

  /*cores da marca*/
  --LIGHT-PURPLE: #f0e9f4;
  --LIGHT-GREEN: #e8e8e8;
  --LIGHT-ORANGE: #f9d9d7;
  --MAIN-ORANGE: #fe7750;
  --SECONDARY-PURPLE: #942eb8;
  --MAIN-PURPLE: #46005a;
  --MAIN-DARK: black;
  --MAIN-WHITE: white;
}

/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
li {
  font-family: var(--SENCOND_FONT);
}

body {
  background-color: var(--LIGHT-PURPLE);
}
