header {
  background-color: var(--LIGHT-ORANGE);
}

.header_section {
  margin: 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_section ul {
  color: var(--MAIN-PURPLE);
  display: flex;
}

.header_section li {
  margin-left: 1.8rem;
  transition: box-shadow 0.3s, color 0.3;
  font-size: 1.2rem;
}

.header_section li:hover {
  box-shadow: 0 0 5rem var(--MAIN-ORANGE);
  cursor: pointer;
  color: var(--MAIN-ORANGE);
}

.header_section ul li:first-child {
  margin-left: 0;
}

.logo {
  display: flex;
  align-items: center;
  width: 9.3rem;
  padding: 1.2rem;
}

.logo img {
  width: 100%;
  object-fit: contain;
}
